@import 'tailwindcss';

@theme {
	--font-pokemon: 'pokemon', serif;
	--font-pixel: 'pixel', sans-serif;
}

@font-face {
	font-family: 'pokemon';
	src: url('/Ketchum-WeeV.woff2') format('woff2');
}

@font-face {
	font-family: 'pixel';
	src: url('/Pokemon GB.woff2') format('woff2');
}

@layer components {
	.btn {
		@apply bg-neutral-200 border-b-neutral-400 font-pixel select-none text-center capitalize rounded-lg outline outline-black outline-[3px] hover:brightness-110 active:translate-y-1 border-b-8 pt-2 pb-1 px-4 sm:text-lg sm:pt-3 sm:pb-2;
	}
	.btn-disable {
		@apply brightness-90 text-black/50 cursor-not-allowed hover:brightness-90 active:translate-y-0;
	}
	.btn-selected {
		@apply bg-blue-500 border-b-blue-700 text-white;
	}
	.btn-correct {
		@apply bg-green-500 border-b-green-700 text-white;
	}
	.btn-wrong {
		@apply bg-rose-500 border-b-rose-700 text-white;
	}
	.header {
		@apply h-full w-full grid place-items-center font-pokemon capitalize text-yellow-400 text-5xl [-webkit-text-stroke:3px_#0369a1] [text-shadow:-5px_5px_#171717] sm:text-7xl sm:[text-shadow:-6px_6px_#171717];
	}
}
